@media (min-width: 992px) {
	.header-logo img {
		margin: 0px;
	}
	.screen-1 {
		background-position: center top;
		min-height: 1070px;
		height: 100%;
	}
	h1 br {
		display: none;
	}
	.main-head {
		font-size: 3.750em;
	}
	h2 {
		font-size: 2.375em;
	}
	h3 {
		font-size: 1.938em;
	}
	.results-desktop {
		display: block !important;
	}
	.card-look a {
		font-size: 1.500em;
	}
	.contact-form {
		padding: 10px 30px;
	}
	.contact-btn {
		margin-top: 0px;
	}
	.form-check {
		margin-top: 10px;
	}
	.privacy-policy {
		margin-bottom: 0px;
		margin-top: -60px;
	}
	.privacy-policy a {
		text-align: center;
	}

	/* PROPERTY SEARCH */

	.search {
		background-color: #d9dada;
		background-image: url(../img/search_bg.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		border-bottom: 3px solid #a29c9a;
		max-height: 750px;
	}
	.form-search-down {
		top: 30px;
	}
	.screen-search {
		margin-top: 0px;
	}
	.phone-search {
		margin-top: 50px;
	}
	.form-search .form-check {
		margin-bottom: 50px;
	}

	/* RESULT SEARCH */

	/* FILTERS */

	.filters {
		background: inherit;
	}
	.filter-modal {
		display: none;
	}
	.filter-desktop {
		display: block;
		background: #afafaf;
	}
	.filter-title {
		margin-bottom: 15px;
	}

	/* SORTING RESULT */

	.sorting-item {
		font-size: 1.125em;
	}
	.nevest {
		padding-right: 30px;
	}
	.nevest::after {
		height: 15px;
		top: 6px;
		left: 91px;
	}
	.high::after {
		top: 7px;
		left: 290px;
	}
	.low {
		padding-right: 30px;
	}
	.low::after {
		height: 15px;
		top: 6px;
		left: 190px;
	}
	.more-1::before {
		height: 15px;
		top: 6px;
		left: 14px;
	}
	.more-2::before {
		height: 15px;
		top: 6px;
		left: 25px;
	}

	/* NUMBER PAGES */

	.page-link {
		font-size: 1.500em;
	}

	/* LISTING INFO */

	.listing-info {
		top: -145px;
		margin-bottom: -100px;
	}
	.listing-header {
		margin-top: 200px;
	}
	.listing-text-item {
		font-size: 0.875em;
	}
	.listing-btn {
		font-size: 0.875em;
	}
	.list-item {
		font-size: 1.250em;
	}

	/* CAROUSEL */

	.sl {
		width: 100%;
	}

	.slick-prev {
  		left: 40px;
  		z-index: 200;
  		width: 29px;
  		height: 55px;
	}

	.slick-prev:before {
  		content: "";
  		display: block;
  		background: url(../img/left.png) no-repeat center center;
  		width: 29px;
  		height: 55px;
  		cursor: pointer;
	}

	.slick-next {
		right: 40px;
		width: 29px;
  		height: 55px;
	}

	.slick-next:before {
  		content: "";
  		display: block;
  		background: url(../img/right.png) no-repeat center center;
  		width: 29px;
  		height: 55px;
  		cursor: pointer;
	}
	.main-sl_text {
		top: 500px;
	}
	.sl2 {
		width: 90%;
		margin-bottom: -19px;
	}
	.sl2_slide .sl2_img {
		width: 145px;
		height: 145px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px !important;
	}
	.results-desktop {
		display: block !important;
	}
}