@media (min-width: 768px) {
	.header-phone {
		margin-bottom: 10px;
	}
	.header-lang a {
		text-align: right;
	}
	.narrow-results {
		display: block !important;
	}
	.main-head {
		font-size: 3.000em;
	}
	h2 {
		font-size: 2.138em;
	}
	h3 {
		font-size: 1.744em;
	}
	.card-text {
		font-size: 1.013em;
	}
	.card-price {
		font-size: 1.688em;
	}
	.decrease,
	.increase {
		font-size: 1.013em;
	}
	.card-cortesy {
		font-size: 0.675em;
	}
	.card-look a {
		font-size: 1.351em;
	}
	.phone a {
		font-size: 2.250em;
	}
	.contact-btn {
		max-width: 100%;
	}
}