/* Спецификация */

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 100%;
	font-weight: 400;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	width: 1140px;
	margin: 0px auto;
}

.d-flex {
	display: flex;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.250em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
	transition: all .8s ease;
}

a:hover {
	color: #f4365c;
}

a:focus {
	color: #f4365c;
}

/*img {
	display: block;
}*/

svg path {
	fill: inherit;
	stroke: inherit;
	stroke-width: inherit;
}

*:not(.slick-track):not(.slick-list) {
	transition: all .2s ease;
}

.social {
	transition: all .2s ease;
}

.social:hover {
	fill: #fff;
}

.social:focus {
	fill: #fff;
}

button {
	font-family: 'Ubuntu', sans-serif;
	cursor: pointer;
}

/* HEADER */

.header {
	background-color: #272727;
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 100px;
}

.header-up {
	justify-content: space-between;
	align-items: center;
	padding-bottom: 60px;
}

.logo img {
	width: 165px;
	height: 45px;
}

.mail {
	margin-left: auto;
	margin-right: 30px;
}

.mail a {
	font-size: 0.875em;
	color: #fff;
	vertical-align: top;
}

.mail a:hover {
	color: #f4365c;
}

.fb {
	margin-right: 15px;
}

fieldset {
	position: relative;
	border: 4px solid #41232a;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 70px;
	padding-bottom: 55px;
	max-width: 750px;
	max-height: 555px;
}

legend {
	margin: 0px;
	padding: 0px;
}

legend {
	font-size: 1.625em;
	font-weight: 400;
	text-transform: uppercase;
	color: #f4365c;
	text-align: center;
	padding: 0 30px;
}

.slider-text {
	color: #9a9c9d;
	margin: 0px auto;
	text-align: center;
	max-width: 470px;
	padding: 0px 10px;
	padding-top: 25px;
}

.sl {
	margin: 0px auto;
	margin-top: 30px;
	max-width: 560px;
	visibility: hidden;
}

.slick-initialized {
	visibility: visible;
}

.price-box {
	position: absolute;
	top: 455px;
	left: 50%;
	margin-left: -60px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background-color: #f4365c;
	padding-top: 8px;
}

.price {
	font-size: 1.750em;
	font-weight: 700;
	color: #fff;
	width: 79px;
	height: 79px;
	border: 4px solid #f76582;
	border-radius: 50%;
	text-align: center;
	margin: 0px auto;
	line-height: 2.5em;
}

.sl2 {
	margin: 0px auto;
	max-width: 560px;
	position: relative;
}

.sl2-box {
	visibility: hidden;
}

.slick-initialized {
	visibility: visible;
}

.sl2_slide {
	width: 95px !important;
	margin: 0px 9px;
	cursor: pointer;
}

.prev {
	position: absolute;
	top: 50%;
	left: -25px;
	-webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.next {
	position: absolute;
	top: 50%;
	right: -25px;
	-webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.prev i,
.next i {
	font-size: 25px;
	color: #535353; 
}

.prev:focus i,
.prev:hover i,
.next:focus i,
.next:hover i {
	color: #bbb; 
}


/* ORDER */

.order {
	/*background-color: #272727;*/
	background: url(../img/order-bg.jpg) no-repeat center 100%;
	padding-bottom: 90px;
}

.order-box {
	padding-top: 45px;
}

.order-info-head {
	font-size: 1.750em;
	font-weight: 700;
	color: #f4365c;
	padding-bottom: 15px;
}

.order-info-text {
	font-size: 0.625em;
	font-weight: 300;
	color: #9a9c9d;
	max-width: 240px;
}

.order-form {
	align-self: center;
	margin-left: auto;
}

.order-form input {
	width: 260px;
	height: 38px;
	background: transparent;
	border: 1px solid #464646;
	font-size: 0.875em;
	font-weight: 300;
	color: #fff;
	padding-left: 10px;
}

.order-form input[placeholder] {
	font-size: 0.875em;
	color: #fff !important;
}

.order-form input::-moz-placeholder {
	font-size: 0.875em;
	color: #fff !important;
}

.order-form input:-moz-placeholder {
	font-size: 0.875em;
	color: #fff !important;
}

.order-form input::-webkit-input-placeholder {
	font-size: 0.875em;
	color: #fff !important;
}

.order-form input::-o-input-placeholder {
	font-size: 0.875em;
	color: #fff !important;
}

.order-form input:-ms-input-placeholder {
	font-size: 0.875em;
	color: #fff !important;
}

.order-form input:hover {
	border: 1px solid #f4365c;
	box-shadow: 0 0 10px 2px #f4365c;
	outline: none;
}

.order-form input:focus {
	border: 1px solid #f4365c;
	box-shadow: 0 0 10px 2px #f4365c;
	outline: none;
}

.order-form-mail {
	margin-left: 28px;
}

.order-form-btn {
	width: 260px;
	background-color: #f4365c;
	border: none;
	outline: none;
	font-size: 1.125em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 0px 9px 0px;
	/*line-height: 1.3em;*/
	margin-left: 28px;
}

.order-form-btn:hover {
	background-color: #ff0066;
	box-shadow: 0 0 10px 2px #ff0066;
}

.order-form-btn:active {
	background-color: #b21252;
	box-shadow: 0 0 10px 2px #b21252;
}

/* SPECIFICATIONS */

.spec {
	padding-top: 90px;
	padding-bottom: 40px;
	background-color: #f8f9ff;
}

.spec-box {
	flex-wrap: wrap;
	justify-content: space-between;
}

.spec-head {
	position: relative;
	height: 98px;
}

.spec-mob {
	display: none;
}

.spec-desc {
	display: block;
}

.spec-head-black {
	position: absolute;
	top: 28px;
	left: 105px;
	font-size: 2.250em;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	z-index: 200;
}

.spec-head-white {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3.063em;
	font-weight: 700;
	color: #eceef7;
	text-transform: uppercase;
	z-index: 100;
}

.spec-item {
	flex-direction: column;
	max-width: 250px;
}

.spec-item:nth-child(-n+3) {
	margin-bottom: 70px;
	margin-right: 70px;
}

.easily {
	position: relative;
	left: 50px;
}

.spec-img {
	position: relative;
	width: 98px;
	height: 98px;
	border: 8px solid #eceef7;
	margin-bottom: 25px;
	min-width: 98px;
	max-width: 98px;
}

.spec-img img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.number {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: #f4365c;
	font-weight: 400;
	color: #fff;
	text-align: center;
	padding: 3px 0px;
}

.spec-item-head {
	font-weight: 500;
	color: #272727;
	padding-bottom: 10px;
}

.spec-text {
	font-weight: 400;
	color: #9a9b9e;
	line-height: 1.3em;
}

/* PDF */

.pdf {
	background: #f8f9ff url(../img/form22-bg.jpg) no-repeat center top;
	padding-bottom: 100px;
}

.pdf-box {
	padding-top: 115px;
}

.pdf-head {
	font-size: 1.750em;
	font-weight: 700;
	color: #f8f9ff;
	padding-bottom: 40px;
	max-width: 600px;
}

.pdf-head span {
	color: #f4365c;
}

.pdf-form {
	flex-direction: column;
	margin-bottom: 35px;
}

.pdf-form-name {
	margin-bottom: 20px;
}

.pdf-form-mail {
	margin-left: 0px;
	margin-bottom: 20px;
}

.pdf-form-btn {
	margin-left: 0px;
}

.pdf-text {
	font-size: 0.750em;
	font-weight: 300;
	color: #9a9c9d;
	max-width: 360px;
	line-height: 1.5em;
}

.pdf-right {
	margin-top: 10px;
	margin-left: 100px;
}

/* FOOTER */

.footer {
	background: #1b1b1b;
	padding-bottom: 10px;
	margin-top: -2px;
}

.footer-box {
	justify-content: space-between;
	align-items: center;
}

.copy {
	font-size: 0.750em;
	font-weight: 300;
	color: #5f5e5e;
}

.footer-center .mail {
	padding-top: 5px;
}

/* MEDIA SCREENS */

@media screen and (max-width: 1025px) {
	.container {
		width: 960px;
	}
	.order-form input {
		width: 210px;
	}
	.order-form-btn {
		width: 220px;
		padding: 6px 0px 8px 0px;
	}
	.pdf-form .pdf-form-name,
	.pdf-form .pdf-form-mail,
	.pdf-form .pdf-form-btn {
		width: 260px;
	}
	.spec-item {
		max-width: 200px;
	}
	.spec-item:nth-child(-n+3) {
		margin-right: 0px;
	}
}

@media screen and (max-width: 813px) {
	.container {
		width: 720px;
	}
	.order {
		margin-top: -1px;
	}
	.order-box {
		flex-direction: column;
		padding-top: 35px;
	}
	.order-info-head {
		text-align: center;
	}
	.order-info-text {
		max-width: 100%;
		text-align: center;
		padding-bottom: 20px;
	}
	.spec-item {
		max-width: 170px;
	}
	.spec-item:nth-child(-n+3) {
		margin-bottom: 20px;
		margin-right: 30px;
	}
	.spec-item:nth-child(n+5) {
		margin-top: 30px;
	}
	.spec-head {
		transform: translateY(70%);
	}
	.spec-box .easily {
		margin-right: 30px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 720px;
	}
	.order {
		margin-top: -1px;
	}
	.order-box {
		flex-direction: column;
		padding-top: 35px;
	}
	.order-info-head {
		text-align: center;
	}
	.order-info-text {
		max-width: 100%;
		text-align: center;
		padding-bottom: 20px;
	}
	.spec-item {
		max-width: 170px;
	}
	.spec-item:nth-child(-n+3) {
		margin-bottom: 20px;
		margin-right: 30px;
	}
	.spec-item:nth-child(n+5) {
		margin-top: 30px;
	}
	.spec-head {
		transform: translateY(70%);
	}
	.spec-box .easily {
		margin-right: 30px;
		left: 0px;
	}
	.footer {
		margin-top: -30px;
	}
}

@media screen and (max-width: 737px) {
	.container {
		width: 90%;
	}
	.price-box {
		top: 415px;
	}
	.grid {
		max-width: 512px;
	}
	.order {
		padding-bottom: 70px;
	}
	.order-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 0px;
	}
	.order-form input {
		width: 100%;
	}
	.order-form-name {
		margin-bottom: 20px;
	}
	.order-form-mail {
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.order-form-btn {
		width: 260px;
		padding: 6px 0px 8px 0px;
		margin-left: 0px;
	}
	.pdf {
		background-size: cover;
	}
	.pdf-box {
		flex-direction: column;
	}
	.pdf-left {
		order: 0;
	}
	.pdf-head {
		padding-top: 20px;
	}
	.pdf-form .pdf-form-name,
	.pdf-form .pdf-form-mail,
	.pdf-form .pdf-form-btn {
		width: 260px;
		margin: 0px auto;
	}
	.pdf-form .pdf-form-name,
	.pdf-form .pdf-form-mail {
		margin-bottom: 20px;
	}
	.pdf-text {
		max-width: 100%;
		padding-bottom: 20px;
		text-align: center;
	}
	.pdf-right {
		order: -1;
	}
	.footer {
		margin-top: -80px;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	fieldset {
		max-width: 500px;
	}
	.sl {
		max-width: 480px;
	}
	.sl2 {
		max-width: 480px;
	}
	.sl2_slide {
		margin: 0px 5px;
	}
	.price-box {
		width: 85px;
		height: 85px;
		top: 425px;
		margin-left: -50px;
	}
	.price {
		width: 69px;
		height: 69px;
		line-height: 2.2em;
	}
	.spec {
		padding-top: 0px;
	}
	.spec-box {
		flex-direction: column;
	}
	.spec-item {
		flex-direction: row;
		align-items: center;
		max-width: 100%;
		height: 100%;
	}
	.spec-mob {
		display: block;
	}

	.spec-desc {
		display: none;
	}
	.spec-head {
		transform: translateY(0%);
		margin: 0px auto;
		margin-bottom: 20px;
	}
	.spec-info {
		margin-left: 20px;
		margin-bottom: 20px;
	}
	.spec-info .spec-text br {
		display: none;
	}
	.pdf-right {
		margin-left: 0px;
	}
}

@media screen and (max-width: 415px) {
	body {
		font-size: 90%;
	}
	.container {
		width: 90%;
	}
	.mail {
		margin-right: 0px;
	}
	.social-box {
		display: none;
	}
	fieldset {
		max-width: 100%;
	}
	legend {
		padding: 0px 10px;
	}
	.sl {
		max-width: 350px;
	}
	.sl2 {
		max-width: 330px;
	}
	.sl_slide {
		max-width: 100%;
		margin: 0px 5px;
	}
	.sl_slide img {
		width: 340px;
	}
	.sl2_slide {
		width: 85px !important;
		margin: 0px 1px;
	}
	.sl2_slide img {
		width: 85px;
	}
	.sl2 .next {
		display: none;
	}
	.sl2 .prev {
		display: none;
	}
	.price-box {
		width: 85px;
		height: 85px;
		top: 330px;
		margin-left: -50px;
	}
	.price {
		width: 69px;
		height: 69px;
		line-height: 2.4em;
	}
	.order {
		padding-bottom: 65px;
	}
	.number {
		padding: 6px 0px;
	}
	.pdf-right {
		margin-left: 0px;
	}
	.pdf-head {
		text-align: center;
	}
}

@media screen and (max-width: 376px) {
	body {
		font-size: 80%;
	}
	.container {
		width: 90%;
	}
	.sl {
		max-width: 330px;
	}
	.sl_slide {
		max-width: 100%;
		margin: 0px 5px;
	}
	.sl_slide img {
		width: 320px;
	}
	.price-box {
		width: 75px;
    	height: 75px;
		top: 320px;
		margin-left: -40px;
	}
	.price {
		width: 59px;
    	height: 59px;
		line-height: 2.2em;
	}
	.number {
		padding: 6px 0px;
	}
	.spec-head-black {
		top: 33px;
	}
	.pdf-img img {
		width: 90%;
		margin-left: 10px;
	}
	.pdf-head {
		padding: 20px 30px;
	}
}

@media screen and (max-width: 320px) {
	body {
		font-size: 75%;
	}
	.container {
		width: 90%;
	}
	.header-up {
		flex-direction: column;
		padding-bottom: 30px;
	}
	.mail {
		margin-left: 0px;
		margin-top: 20px;
	}
	.sl {
		max-width: 280px;
	}
	.sl_slide {
		max-width: 100%;
		margin: 0px 5px;
	}
	.sl_slide img {
		width: 270px;
	}
	.price-box {
		top: 285px;
	}
	.price {
		line-height: 2.4em;
	}
	.number {
		padding: 6px 0px;
	}
	.spec-head-black {
		left: 75px;
	}
	.pdf-img img {
		width: 90%;
		margin-left: 10px;
	}
	.pdf-head {
		padding: 20px 30px;
	}
	.footer-box {
		flex-direction: column;
	}
	.footer-center {
		margin-bottom: 15px;
	}
	.footer-right {
		margin-bottom: 15px;
	}
}