/* Спецификация */

body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #484a50;
	background: #fff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	width: 970px;
	margin: 0px auto;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.project {
	padding-top: 50px;
}

.project-header {
	font-size: 32px;
	text-align: center;
	color: #32353d;
}

.project-box {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 70px;
}

.project-box .pack {
	position: relative;
	max-width: 310px;
	width: 100%;
	background: #fff;
	border: 4px solid #e2e5ea;
	border-radius: 13px;
}

.pack .pack-head {
	font-size: 21px;
	font-weight: 600;
	text-align: center;
	color: #32353d;
	padding-top: 60px;
	padding-bottom: 20px;
}

.pack .pack-sale {
	position: absolute;
	top: -45px;
	left: 100px;
	width: 85px;
	height: 85px;
	background: #ce1424;
	border-radius: 50%;
	font-size: 28px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	line-height: 45px;
	padding: 20px 0px;
}

.pack .pack-price {
	background: #feefb9;
	font-size: 28px;
	font-weight: 400;
	color: #474848;
	text-align: center;
	padding: 25px 10px;
}

.pack .pack-price span {
	font-size: 16px;
	font-weight: 400;
	color: #9ea3b2;
	text-decoration: line-through;
}

.pack .pack-term {
	font-size: 15px;
	color: #9ea3b2;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.subtitle {
	font-size: 17px;
	font-weight: 500;
	text-align: center;
	padding: 0px 15px 20px 15px;
}

.pack-list {
	padding: 0px 40px;
}

.pack-list .pack-list-item {
	position: relative;
	padding-bottom: 10px;
	line-height: 1.3em;
	list-style-type: none;
}

.pack-list .pack-list-item::before {
	content: '';
	width: 17px;
	height: 12px;
	background: url(../img/checkbox2.png) no-repeat center center;
	position: absolute;
	left: -22px;
	top: -5%;
}

.info {
	font-size: 17px;
	font-weight: 600;
	color: #32353d;
	text-align: center;
	padding: 10px 15px 20px 15px;
}

.pack3 .present {
	margin-top: 10px;
}

.present {
	max-width: 250px;
	margin: 0px auto;
	border-top: 1px solid #DFDFDF;
	padding: 20px 0px 20px 0px;
	text-align: center; 
}

.present img {
	width: 32px;
	height: 33px;
	vertical-align: middle;
}

.present span {
	font-size: 26px;
	font-weight: 700;
	color: #ce1424;
	vertical-align: middle;
	padding-left: 5px;
}

.present-list {
	padding: 0px 40px;
}

.present-list .present-list-item {
	padding-bottom: 10px;
	line-height: 1.3em;
}

.system-list {
	padding-top: 10px;
	padding-left: 15px;
}

.system-list .system-list-item {
	position: relative;
	list-style-type: none;
	padding-bottom: 10px;
	line-height: 1.3em;
}

.system-list .system-list-item::before {
	content: '';
	width: 100%;
	height: 100%;
	background: url(../img/checkbox2.png) no-repeat center center;
	position: absolute;
	left: -115px;
	top: -35%;
}

.system-list .system-list-item:last-child {
	padding-bottom: 0px;
}

.pack-btn {
	width: 250px;
	height: 40px;
	background: #0D4692;
	border-radius: 32px;
	line-height: 20px;
	padding: 10px 0px;
	text-align: center;
	margin: 0px auto;
	margin-top: 15px;
	margin-bottom: 35px;
	cursor: pointer; 
}

.pack-btn:hover {
	background: #00273d;
}

.pack-btn a {
	color: #fff;
}

@media (max-width: 959px) and (min-width: 768px) {
	.container {
		width: 720px;
	}
	.project-box {
		flex-direction: column;
		align-items: center;
	}
	.project-box .pack {
		max-width: 550px;
		width: 100%;
		margin-bottom: 80px;
		padding: 0px 25px;
	}
	.project-header {
		font-size: 40px;
	}
	.pack .pack-head {
		font-size: 31px;
		padding-top: 80px;
	}
	.pack .pack-sale {
		width: 105px;
		height: 105px;
		top: -55px;
    	left: 205px;
		line-height: 65px;
		font-size: 36px;
	}
	.pack .pack-price {
		font-size: 48px;
	}
	.pack .pack-price span {
		font-size: 26px;
	}
	.pack .pack-term {
		font-size: 20px;
	}
	.subtitle {
		font-size: 24px;
	}
	.pack-list .pack-list-item {
		font-size: 22px;
	}
	.pack-list .pack-list-item::before {
		top: 10%;
	}
	.info {
		font-size: 24px;
		padding-bottom: 30px;
	}
	.present {
		max-width: 550px;
	}
	.present span {
		font-size: 34px;
	}
	.present-list .present-list-item {
		font-size: 22px;
	}
	.system-list .system-list-item::before {
		left: -215px;
	}
	.pack-btn a {
		font-size: 22px;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.project-box {
		flex-direction: column;
		align-items: center;
	}
	.project-box .pack {
		margin-bottom: 20px;
	}
	.pack-list .pack-list-item::before {
		top: 5%;
	}
}