body {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	font-weight: 300;
	color: #3c3c3c;
	overflow-x: hidden;
}

div, p, button, span {
	box-sizing: border-box;
}

ul {
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1, h2 {
	font-size: 2.000em;
	font-weight: 300;
	background: url('../img/line.png') no-repeat center bottom;
	text-align: center;
	padding-bottom: 60px;
}

h3 {
	font-size: 1.125em;
	font-weight: 700;
}

.container {
	width: 1200px;
	margin: 0px auto;
	position: relative;
}

/*.clearfix::before {
	content: "";
	clear: both;
	display: table;
}*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

#header {
	background: url('../img/header_bg.png') no-repeat center top / cover;
	padding-top: 55px;
	padding-bottom: 100px;
}

.main-nav {
	float: right;
	overflow: hidden;
	margin-top: -20px;
}

.menu-nav-icon {
	display: none;
	float: right;
	width: 45px;
	height: 35px;
	position: relative;
	cursor: pointer;
}

.menu-nav-icon span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #3c3c3c;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.menu-nav-icon span:nth-child(1) {
	top: 0;
}

.menu-nav-icon span:nth-child(2),
.menu-nav-icon span:nth-child(3) {
	top: 13px;
}

.menu-nav-icon span:nth-child(4) {
	top: 26px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.main-logo {
	margin-right: 20px;
}

.nav-list_item {
  	text-align: center;
  	padding: 10px 15px;
}

.nav-list_item:last-child {
	margin-right: 0px;
}

.nav-list_item:hover {
	box-shadow: 0px 0px 0px 1px #3c3c3c inset;
}

.nav-list_item a {
	color: #3c3c3c;
	text-decoration: none;
	transition: all 0.5s ease;
}

.main-nav.menu_state_open .menu-nav-icon span:nth-child(1) {
  	top: 18px;
  	width: 0%;
  	left: 50%;
}

.main-nav.menu_state_open .menu-nav-icon span:nth-child(2) {
  	transform: rotate(45deg);
}

.main-nav.menu_state_open  .menu-nav-icon span:nth-child(3) {
  	transform: rotate(-45deg);
}

.main-nav.menu_state_open  .menu-nav-icon span:nth-child(4) {
  	top: 18px;
  	width: 0%;
  	left: 50%;
}

.main-nav.menu_state_open .nav-list {
  display: flex;  
}

.main-head {
	float: right;
	width: 650px;
	margin-top: 150px;
	clear: both;
}

.main-head h1 {
	text-align: center;
	letter-spacing: -0.05em;
}

.main-text {
	margin-top: 50px;
	font-size: 1.125em;
	font-weight: 300;
	text-align: center;
}

.delivery-btn {
	width: 205px;
	height: 50px;
	background: #f68c60;
	margin: 0px auto;
	margin-top: 50px;
}

.delivery-btn a {
	display: block;
	font-size: 1.125em;
	font-weight: 400;
	padding: 13px 15px;
	color: #fff;
	text-decoration: none;
}

#skills {
	background: #f68c60; 
}

.columns {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 70px;
}

.column-item {
	width: 370px;
	text-align: center;
	background: url('../img/noodle.png') no-repeat center top;
	padding-top: 100px;
}

.column-item:nth-child(2) {
	background: url('../img/Tea.png') no-repeat center top;
}

.column-item:nth-child(3) {
	background: url('../img/sweet.png') no-repeat center top;
}

.column-item h3 {
	color: #fff;
	text-transform: uppercase;
}

.column-item p {
	font-weight: 300;
	color: #fff;
}

#specials {
	padding-bottom: 110px;
}

#specials h2 {
	margin-top: 80px;
	margin-bottom: 55px;
}

.special {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.special-item {
	text-align: center;
	width: 400px;
	background: #f8f8f8;
}

.special-item img {
	display: block;
	width: 200px;
	height: 200px;
}

.special-item:nth-child(-n+3) img {
	float: left;
}

.special-item:nth-child(n+4) img {
	float: right;
}

.special-item h3 {
	padding-top: 35px;
}

.special-item:nth-child(-n+3) .special-item_text {
	padding-left: 205px;
	padding-right: 5px;
}

.special-item:nth-child(n+4) .special-item_text {
	padding-right: 205px;
	padding-left: 5px;
}

.special-item .special-item_price {
	font-weight: 700;
}

#about {
	background: #eeefef url('../img/about_bg.png') no-repeat right top / 60%;
	padding-bottom: 150px;
}

.about-item {
	width: 400px;
	text-align: center;
}

.about-item h2 {
	padding-top: 125px;
}

.about-item p {
	line-height: 2em;
	padding: 20px;
}

.about-item img {
	float: right;
	width: 40%;
}

#menu {
	padding-top: 70px;
	padding-bottom: 80px;
}

.menu-nav {
	width: 640px;
	padding-top: 45px;
	margin: 0px auto;
}

.menu-nav .nav-list-2 {
	display: flex;
}

.nav-list_item-2 {
  	margin-right: 20px;
  	text-align: center;
  	padding: 10px 15px;
}

.nav-list_item-2:last-child {
	margin-right: 0px;
}

.nav-list_item-2:hover {
	box-shadow: 0px 0px 0px 1px #3c3c3c inset;
}

.nav-list_item-2 a {
	color: #3c3c3c;
	text-decoration: none;
	transition: all 0.5s ease;
}

.menu {
	padding-bottom: 80px;
}

.menu-left {
	float: left;
	padding-top: 75px;
	width: 550px;
}

.menu-list {
	padding-left: 0;
}

.menu-item {
	padding-bottom: 40px;
}

.menu-item p {
	margin: 0;
	padding: 0;
}

.dotted {
	overflow: hidden;
}

.dotted::after {
    content:'';
    display: block;;
    overflow: hidden;
    height: 16px;
    border-bottom: 2px dotted #3c3c3c;
}

.dotted .menu-head {
	font-size: 1.125em;
	float: left;
	padding-right: 5px;
}

.dotted .menu-price {
	float: right;
	font-size: 1.125em;
	padding-left: 5px;
}

.menu-text {
	font-size: 0.875em;
	font-style: italic;
}

.menu-right {
	float: right;
	padding-top: 75px;
	width: 550px;
}

#footer {
	background: url('../img/contact_bg.png') no-repeat center top / cover;
	padding-top: 45px;
}

.contact {
	float: right;
	width: 480px;
}

.contact h2 {
	text-align: center;
	padding-bottom: 50px;
}

.contacts {
	padding-top: 60px;
}

.veggie {
	float: left;
}

.reservation {
	float: right;
}

.contacts-title {
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.contacts-item p {
	margin: 0;
	padding: 0;
}

.contacts-item p:first-child {
	padding-bottom: 10px;
}

.contacts-item a {
	text-decoration: none;
	color: inherit;
	padding-bottom: 10px;
}

.contact-form {
	padding-top: 50px;
	margin-bottom: 100px;
}

.contact-form .contacts-title {
	padding-bottom: 35px;
}

.contact-form_item {
	width: 230px;
	margin-bottom: 30px;
}

.contact-form-item-left {
	float: left;
}

.contact-form-item-right {
	float: right;
}

input,
textarea {
	outline: none;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
	box-sizing: border-box;
	border: 0px;
	width: 100%;
	height: 35px;
	padding: 10px 15px;
	font: inherit;
	color: #3c3c3c;
	background: inherit;
	border-bottom: 1px solid #3c3c3c;
}

input[type="text"]::placeholder {
    color: #3c3c3c;
    font-size: 1.125em;
    font-style: italic;
}

input[type="email"]::placeholder {
    color: #3c3c3c;
    font-size: 1.125em;
    font-style: italic;
}

.contact-form textarea {
	box-sizing: border-box;
	border: 0px;
	width: 100%;
	padding: 0px 15px;
	font: inherit;
	color: #3c3c3c;
	background: inherit;
	border-bottom: 1px solid #3c3c3c;
}

textarea::placeholder {
    color: #3c3c3c;
    font-size: 1.125em;
    font-style: italic;
}

.btn {
	text-align: center;
	cursor: pointer;
}

input[type="submit"] {
	display: inline-block;
	margin: 0px auto;
	margin-top: 30px;
	width: auto;
	height: auto;
	padding: 10px 20px;
	background: transparent;
	font-size: 1.125em;
	font-weight: 300;
	color: #3c3c3c;
	border: 1px solid #3c3c3c;
}

.social {
	position: absolute;
	right: 0;
	top: 570px;
}

.social a {
	text-decoration: none;
}

.social i {
	font-size: 1.563em;
	color: #3c3c3c;
	border: 1px solid #3c3c3c;
}

.social .fac {
	padding: 10px 16px;
}

.social .ins {
	padding: 10px 11px;
}