/* Спецификация */

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 100%;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

.container {
	width: 1140px;
	margin: 0px auto;
}

.d-flex {
	display: flex;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
	transition: all .8s ease;
}

a:hover {
	color: #f4365c;
}

a:focus {
	color: #f4365c;
}

svg path {
	fill: inherit;
	stroke: inherit;
	stroke-width: inherit;
}

* {
	transition: all .2s ease;
}

.social {
	transition: all .2s ease;
}

.social:hover {
	fill: #fff;
}

.social:focus {
	fill: #fff;
}

button {
	cursor: pointer;
}

/* HEADER */

.header {
	background-color: #272727;
	background-image: url(../img/howto.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding-top: 20px;
	/*padding-bottom: 60px;*/
	height: 95%;
}

.header-up {
	justify-content: space-between;
	align-items: center;
	padding-bottom: 130px;
}

.logo img {
	width: 165px;
	height: 45px;
}

.mail {
	margin-left: auto;
	margin-right: 30px;
}

.mail a {
	font-size: 0.875em;
	color: #fff;
	vertical-align: top;
}

.mail a:hover {
	color: #f4365c;
}

.fb {
	margin-right: 15px;
}

.header-bottom {
	justify-content: space-between;
	align-items: center;
}

.manual-head {
	font-size: 1.750em;
	font-weight: 700;
	color: #f8f9ff;
	padding-bottom: 30px;
}

.manual-head span {
	color: #f4365c;
}

.manual-lang a {
	display: inline-block;
	width: 195px;
	height: 40px;
	font-size: 1.125em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 65px;
	text-align: center;
	line-height: 2.1em;
}

.en {
	background-color: #f4365c;
	margin-right: 15px;
}

.en:hover {
	background-color: #ff0066;
	box-shadow: 0 0 10px 2px #ff0066;
}

.en:active {
	background-color: #b21252;
	box-shadow: 0 0 10px 2px #b21252;
}

.ru {
	background-color: #5b5b5b;
}

.ru:hover {
	background-color: #828282;
	box-shadow: 0 0 10px 2px #828282;
}

.ru:active {
	background-color: #484848;
	box-shadow: 0 0 10px 2px #484848;
}

.manual-text {
	font-weight: 300;
	color: #9a9c9d;
	padding-bottom: 25px;
}

.manual-social a {
	display: inline-block;
	width: 195px;
	height: 40px;
	font-size: 1.125em;
	font-weight: 400;
	color: #9a9a9a;
	margin-bottom: 65px;
	text-align: center;
	line-height: 2.1em;
	background: transparent;
	border: 1px solid #464646;
}

.manual-fb {
	margin-right: 15px;
	line-height: 2.1em;
}

.manual-fb:hover {
	color: #fff;
	border-color: #fff;
}

.manual-fb:active {
	color: #fff;
	border-color: #fff;
}

.manual-fb svg {
	margin-right: 10px;
	transform: translateY(3px);
}

.manual-vk:hover {
	color: #fff;
	border-color: #fff;
}

.manual-vk:active {
	color: #fff;
	border-color: #fff;
}

.manual-vk svg {
	margin-right: 10px;
}

.view a {
	display: inline-block;
	font-weight: 300;
	color: #f4365c;
}

.view a:hover {
	color: #fff;
}

.view a:active {
	color: #c41e49;
}

.view a::after {
	content: '';
	display: inline-block;
	width: 31px;
	height: 8px;
	background: url(../img/arrow.png) no-repeat center center;
	padding-left: 10px;
}

/* FOOTER */

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #1b1b1b;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -2px;
}

.footer-box {
	justify-content: space-between;
	align-items: center;
}

.copy {
	font-size: 0.750em;
	font-weight: 300;
	color: #5f5e5e;
}


/* MEDIA SCREENS */

@media screen and (max-width: 1025px) {
	.container {
		width: 960px;
	}
	.pdf-img {
		width: 60%;
	}
	.pdf-img img {
		width: 80%;
	}
}

@media screen and (max-width: 813px) {
	.container {
		width: 720px;
	}
	.header {
		padding-bottom: 140px;
		height: auto;
	}
	.header-up {
		padding-bottom: 80px;
	}
	.header-bottom {
		flex-direction: column;
	}
	.pdf-img {
		width: 100%;
		margin-bottom: 50px;
	}
	.footer {
		position: static;
		margin-top: -80px;
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 720px;
	}
}

@media screen and (max-width: 737px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 415px) {
	body {
		font-size: 100%;
	}
	br {
		display: none;
	}
	.container {
		width: 90%;
	}
	.mail {
		margin-right: 0px;
	}
	.social-box {
		display: none;
	}
	.manual-head {
		text-align: center;
	}
	.manual-lang a {
		width: 175px;
	}
	.manual-text {
		text-align: center;
	}
	.manual-social a {
		width: 175px;
	}
}

@media screen and (max-width: 376px) {
	body {
		font-size: 90%;
	}
	.container {
		width: 90%;
	}
	.header {
		padding-bottom: 110px;
	}
	.manual-lang a {
		width: 155px;
	}
	.manual-social a {
		width: 155px;
	}
	.footer {
		margin-top: -40px;
	}
	.footer-box {
		flex-direction: column;
	}
	.footer-left {
		order: 1;
		margin-bottom: 15px;
	}
	.footer-center {
		order: 0;
		margin-bottom: 15px;
	}
	.footer-right {
		order: -1;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 320px) {
	body {
		font-size: 80%;
	}
	.container {
		width: 90%;
	}
	.header-up {
		flex-direction: column;
		padding-bottom: 30px;
	}
	.mail {
		margin-left: 0px;
		margin-top: 20px;
	}
	.manual-lang a {
		width: 100%;
		margin-bottom: 20px;
		line-height: 2.7em;
	}
	.manual-social a {
		width: 100%;
		margin-bottom: 20px;
		line-height: 2.7em;
	}
	.footer-box {
		flex-direction: column;
	}
	.footer-center {
		margin-bottom: 15px;
	}
	.footer-right {
		margin-bottom: 15px;
	}
}